
.preview-card{
   width: 55%; 
   height: 829px;
   background-color: bisque;

   background-image: url(~images/preview/preview-card-bg.png);
   background-size: 1151px 928px;
   background-repeat: no-repeat;
   background-position: top left;

   &__title {   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;
    letter-spacing: 0.01em;
    color: $black;
   }

   &__inscription{
    position: absolute;
    transform: rotate(-90deg) translate(0, -217px);
    margin: 0;            
    top: 50%; 

    font-family: 'SignPainter';
    font-style: italic;
    font-weight: 400;
    font-size: 41px;
    line-height: 50px;
                    
   }

}

